@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

$customTheme: mat.define-theme();

@include mat.core();

.custom-theme{
    @include mat.all-component-themes($customTheme);

    //override the button styles
    .mdc-button, .mdc-raised-button, .mdc-stroked-button, .mdc-flat-button
    {
        @apply rounded-md
    }
}

.container
{
    margin-left: 20px;
    margin-top: 20px;
    font-weight: bold;
}

