name: 'First Example Workflow'

on: push

jobs:
    first-job:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout Repo
          uses: actions/checkout@v4
        - name: Execute shell script
          run: |
            chmod +x ./scripts/workflow-script.sh
            ./scripts/workflow-script.sh
        