name: 'Docker Build'

on:
 push: 

jobs:
   docker:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        images: [hello-world, alpine, busybox]
    runs-on: ${{ matrix.os }}
    steps:
     - name: Echo Docker Details
       run: docker info
     - name: Run Images
       run: docker run ${{ matrix }}